.task {
    /* border: 1px solid; */
    padding: 1em;
    background-color: skyblue;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.6;
    border-radius: 0.5em;
    margin: 0.4em;
    /* transition: background-color 0.5s ease; */
}

.task_transform {
    transform: rotateX(1turn);
}

.task_main {
    display: flex;
    flex-flow: column;
}

.task_main span {
    font-size: 0.6em;
    margin-top: 2em;
}

.strike {
    background-color: lightgray;
    text-decoration: line-through;
}

.task:hover {
    background-color: lightgray;
    color: #000;
    cursor: pointer;
}

.task_checkbox {
    position: absolute;
    flex: 1;
    left: 2em;
}

.task_btn {
    position: absolute;
    display: flex;
    right: 1em;
    border-radius: 0.5em;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: stretch;
}

.task_edit {
    color: #fff;
    margin: -.8em 0 1em 0;
}

.task_delete {
    color: red;
}

.task_main:hover {
    font-size: 1.2em;
    transform: rotateX(1turn);
}

.task_edit:hover {
    font-size: 1.2em;
    transform: rotateY(1turn);
}

.task_delete:hover {
    font-size: 1.2em;
    transform: rotateX(1turn);
}
