.tasks_main {
    background-color: #8F7E4F;
    height: 80vh;
    border-radius: 2em 2em 0 0;
    padding: .5em -2em;
}

.tasks_main div:first-child {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
}

.tasks_new {
    position: relative;
    /* font-size: 1.3em; */
    cursor: pointer;
    padding: .1em;
    border-radius: .5em;
    background-color: #C3C49E;
    color: #8F7E4F;
    box-shadow: 0 0 6px #fff;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}
.tasks_new:hover {
    box-shadow: 2px 2px;
    background-color: #D8FFDD;
    color: #524632;
}

.tasks_new span {
    position: relative;
    font-weight: 700;
    padding: .2em;
}

.closeBtn {
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn:hover {
    font-size: 1.2em;
}

.closeBtn span {
    margin-bottom: 0.1em;
}

form {
    padding: 0.2em;
}

form input {
    border-radius: .6em;
    padding: .5em;
    margin-bottom: .7em;
    margin-top: .4em;
    width: 90%;
    font-size: 1em;
    border: none;
}

form label {
    color: #fff;
    font-weight: bolder;
    margin: 0.2em 30%;
    align-self: center;
}

form input:focus {
    outline: none;
}

input[type=submit] {
    margin-left: 3em;
    width: 8em;
    background-color: purple;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 0 5px #000;
}

input[type=submit]:hover {
    background-color: #C3C49E;
}
